<header>
    <div class="brand">
        <h5>CAFF Store - Virucid</h5>
    </div>
    <button mat-raised-button color="primary" (click)="navigateToProfile()">Profile</button>
    <button mat-raised-button color="secondary" (click)="logout()">Logout</button>
</header>

<div class="container">
    <ngx-file-drop dropZoneLabel="Drop files here" id="image-drop-box" (onFileDrop)="dropped($event)" accept=".caff"
        multiple="false">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <span *ngIf="caffFiles.length == 0">Drop a file here to upload</span>
            <span *ngIf="caffFiles.length > 0">
                {{isValidFile?caffFiles.length:''}}{{isValidFile?' darab caff feltöltve!':'Hiba! Max 1db caff fájl'}}
            </span>
        </ng-template>
    </ngx-file-drop>
    <div class="uploadBtn">
        <button mat-raised-button color="primary" (click)="uploadCaff()">Upload</button>
    </div>
    <br>
    <br>
</div>

<div class="cards" *ngFor="let caff of caffs">
    <mat-card class="example-card">
        <img mat-card-image [src]="caff.bitmapFileName" alt="Photo of a Shiba Inu">
        <mat-card-actions>
            <button mat-raised-button class="cardBtn" color="primary"
                (click)="navigateToDetails(caff.id)">Details</button>
        </mat-card-actions>
    </mat-card>
</div>