.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
 }

 header {
     display: flex;
     background-color: black;
     margin-bottom: 30px;
     padding: 5px 5%;
     color: whitesmoke;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1)
 }

 .brand {
     flex: 1;
     display: flex;
     align-items: flex-start;
 }

 h5 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 25px;
     margin: 10px;
     text-align: center;
     letter-spacing: 1px;
     color: whitesmoke;
     background: linear-gradient(
         90deg,
         rgba(52, 186, 219, 0.9878326330532) 44%,
         rgba(0, 255, 190, 1) 100%
     );
     -webkit-background-clip: text;
 }

 button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: 6px;
    text-align: center;
    flex-wrap: wrap;
    letter-spacing: 0.5px;
}

button.cardBtn {
    min-width: 12vw;
    width: 15vw;
    margin-top: 15px;
    margin-bottom: 15px;
}

mat-card-actions {
    display: flex;
    justify-content: center;
}

img {
    min-width: 100px;
    width: 600px;
}

.example-full-width {
    width: 100%;
}