<div class="container">
    <div>
        <img mat-card-image *ngIf="currentCaff.id" [src]="currentCaff.bitmapFile" alt="Photo of a Caff preview">
        <mat-card-actions>
            <button mat-raised-button class="cardBtn" color="primary" (click)="downloadCaff()">Download</button>
        </mat-card-actions>
    </div>
    <div class="example-full-width">
        <mat-list role="list" *ngFor="let comment of comments">
            <mat-list-item role="listitem" appearance="outline">{{comment}}</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
    <div class="example-full-width" style="margin-top: 2em;">
        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder=""></textarea>
        </mat-form-field>
    </div>
</div>